@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/*=======================
    Side Nav Bar
==========================*/

.prd-banner h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
/*=======================
    Side Nav Bar
==========================*/

.sidenav ul li {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.sidenav ul li:hover {
  background-color: #f20000;
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.sidenav .goto .gotoli {
  color: rgb(0, 0, 0);
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.sidenav .goto .gotoli:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(
    to bottom right,
    #f20000,
    rgb(254, 104, 104)
  );
  padding: 3px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

/*=======================
    Product Card
==========================*/

.card:hover {
  transform: scale(1.02);
  transition: transform 0.7s ease;
}

.card .crd-btn {
  background-color: #f20000;
  width: 100%;
  height: 2rem;
  margin-top: 0;
  color: antiquewhite;
  align-items: center;
  text-align: center;
  font-size: medium;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.card .crd-btn:hover {
  text-align: center;
  font-size: medium;
  font-weight: bold;
  color: #f20000;
  background-color: rgb(227, 223, 223);
}

.catsec h2 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
